<div class="center hero-unit">
  <h1>Think Through Math Directory</h1>

  <h2>
    You may now stalk that stranger you see in the office
  </h2>

  <%= link_to "Sign In", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("ttm-logo.png", alt: "TTM"), 'http://thinkthroughmath.com/' %>