<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <!%= link_to image_tag("ttm-logo.png", alt: "TTM"), 'http://thinkthroughmath.com/', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li><%= link_to "Directory", '#' %></li>
            <li><%= link_to "Home", 'users#show' %></li>
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>